body {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%) !important;
}

.grid-container {
    display: grid;
    height: 90vh;
    grid-template-columns: 2.2fr 1.8fr;
    grid-template-rows: 0.2fr 1.7fr 1.7fr;
    /* grid-gap: 1px; */
    grid-template-areas: "header header" "column1 column2" "column1 column3"
}

* {
    padding: 1%;
}

header {
    grid-area: header;
    border-style: double;
    border-color: rgba(128, 160, 43, 0.801);
    ;
}

footer {
    grid-area: footer;
    border-style: double;
    border-color: rgba(128, 160, 43, 0.801);
}

.column1 {
    grid-area: column1;
    border-style: double;
    border-color: rgba(128, 160, 43, 0.801);
    ;
}

.column2 {
    grid-area: column2;
    border-style: double;
    border-color: rgba(128, 160, 43, 0.801);
    ;
}

.column3 {
    grid-area: column3;
    border-style: double;
    border-color: rgba(128, 160, 43, 0.801);
}

.webcam-container {
    display: flex;
    height: 78% !important;
    justify-content: center;
}

.button-container-2 {
    width: auto;
    height: fit-content;
    border: 5px #333 solid;
    justify-content: center;
}

.button-container-1 {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
}

.center {
    display: flex;
    justify-content: center;
}

#webcam {
    float: left;
    width: auto;
    margin-right: 2%;
    text-align: center;
    color: #1967D2;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: bolder;
    cursor: pointer;
    display: inline-grid;
    border-color: black;
    padding: 0;
}

.stop {
    width: auto;
    text-align: center;
    color: #1967D2;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: bolder;
    cursor: pointer;
    display: inline-grid;
    border-color: black;
    padding: 0;
}

#span-webcam {
    font-size: 12px;
    text-transform: capitalize;
    white-space: nowrap;
    margin-right: 2%;
}

.video-props {
    overflow: hidden;
    border-radius: 5px;
}

.buttons-css {
    color: #236aa7b0;
    font-size: 33px;
}

.action-container {
    display: flex;
    height: 30%;
}

.convas-config {
    display: flex;
    border: 5px #333 solid;
}

.footer-container {
    display: flex;
    flex: 1;
    justify-content: center;
}

.local-video-props {
    position: absolute;
    margin: auto;
    top: 30%;
    right: 15%;
    background-position: center;
}

.media {
    position: relative;
    left: 2%;
    height: 0;
    /* aspect ratio */
    padding-bottom: 75%;
    overflow: hidden;
    display: contents;
}

.media video {
    position: relative;
    height: 50%;
}

#action {
    font-size: 80px;
    text-align: right;
    color: mediumvioletred;
    padding: 20px 30px 0 0;
}