/* referenced table spacing style from https://stackoverflow.com/questions/63032941/increase-gap-between-mat-rows-in-mat-table-angular*/

.mat-table {
    overflow-x: scroll;
    max-width: 99%;
}

.mat-cell,
.mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

.mat-row,
.mat-header-row {
    display: table-row;
}


/* own styles */

.links-color {
    font-size: 25px;
    color: black;
    margin-right: 1%;
}