<mat-sidenav-container class="mat-container" (click)="getMouseClick($event)">
    <mat-sidenav style="width: 25%;" #navbar class="navbarspacing" mode="side" opened="false">


        <ul class="link-items">
            <li class="navbar-align-center">
                <a (click)="defaultClick()" mat-fab class="dimension">
                    <fa-icon class="links-color" [icon]="['fas', 'sign-language']"></fa-icon>
                    <span class="links-color">  Universal Control</span>
                </a>



            </li>
            <!-- custom gesture -->
            <li class="navbar-align-center">
                <a (click)="customClick()" mat-fab class="dimension">
                    <fa-icon class="links-color" [icon]="['fas', 'tools']"></fa-icon>
                    <span class="links-color"> Custom Control</span>
                </a>


            </li>
            <li class="navbar-align-center">
                <a mat-fab class="dimension">
                    <fa-icon class="links-color" [icon]="['fas', 'user-circle']"></fa-icon>

                    <span class="links-color">  User Profile</span>

                </a>
            </li>



        </ul>


    </mat-sidenav>

    <mat-sidenav-content>



        <h3>Welcome {{loggedInUser}}</h3>
        <!-- <div class="main-container"> -->
        <div>


            <router-outlet></router-outlet>
            <!-- <app-login-success class="login-success-align-items-row"></app-login-success> -->
            <!-- </div> -->
        </div>


    </mat-sidenav-content>


</mat-sidenav-container>