.mat-sidenav-container {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.login-success-align-items-row {
    flex-direction: row;
    width: 100%;
    width: -moz-available;
    /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}
