<mat-sidenav-container class="mat-container" (click)="getMouseClick($event)">
    <mat-sidenav style="width: 25%;" #navbar class="navbarspacing" mode="side" opened="false">


        <ul class="link-items">
            <li class="navbar-align-center">
                <a (click)="defaultClick()" mat-fab class="dimension">
                    <fa-icon class="links-color" [icon]="['fas', 'sign-language']"></fa-icon>
                    <span class="links-color">  Universal Control</span>
                </a>
            </li>
            <!-- custom gesture -->
            <li *ngIf="loggedInUserType==='Special'" class="navbar-align-center">
                <a (click)="customClick()" mat-fab class="dimension">
                    <fa-icon class="links-color" [icon]="['fas', 'tools']"></fa-icon>
                    <span class="links-color"> Training Mode</span>
                </a>
            </li>

            <li *ngIf="loggedInUserType==='Special'" class="navbar-align-center">
                <a (click)="testClick()" mat-fab class="dimension">
                    <img src="https://img.icons8.com/office/34/000000/learning.png" />
                    <span class="links-color"> Testing Mode</span>
                </a>
            </li>



            <li class="navbar-align-center">
                <a (click)="profileReq()" mat-fab class="dimension">
                    <fa-icon class="links-color" [icon]="['fas', 'user-circle']"></fa-icon>
                    <span class="links-color">  User Profile</span>
                </a>
            </li>



        </ul>


    </mat-sidenav>

    <mat-sidenav-content>




        <!-- <div class="main-container"> -->
        <div>

            <header *ngIf="show">
                <br>
                <h2 class="centered">
                    Experience Interactive Gesture Control
                </h2>
                <br>
            </header>

            <div *ngIf="show">

                <youtube-player #youtubeplayer [videoId]="vid1"></youtube-player>
                <youtube-player #youtubeplayer [videoId]="vid2"></youtube-player>

            </div>
            <router-outlet></router-outlet>

        </div>


    </mat-sidenav-content>


</mat-sidenav-container>