<nav class="navbar navbar-dark bg-dark nav-link" style="height:9%">

    <mat-button-toggle *ngIf="showSideNav" (click)="toggle()">
        <fa-icon class="links-color" [icon]="['fas', 'angle-right']"></fa-icon>
        <!-- <mat-icon >home</mat-icon> -->
    </mat-button-toggle>

    <!-- <span>
        <a class="block-display" routerLink="/">Home</a>
        </span> -->
    <span *ngIf="showSideNav" class="float-right">
        <a class="block-display" (click)="logout()">Logout</a>
</span>
</nav>

<router-outlet></router-outlet>