<nav class="navbar navbar-dark nav-link main-navbar">

    <mat-button-toggle *ngIf="showSideNav" (click)="toggle()">
        <fa-icon class="emoticons" [icon]="['fas', 'bars']"></fa-icon>

    </mat-button-toggle>


    <h5 *ngIf="showSideNav" class="username-css">Welcome {{loggedInUser}}</h5>
    <div *ngIf="showSideNav" class="header-nav">
        <div class="nav-item" (click)="home()">Home</div>
        <div class="nav-item" (click)="logout()">Logout</div>

    </div>



</nav>

<router-outlet></router-outlet>