<head>

    <script type="module" src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-converter"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@tensorflow-models/handpose"></script>

    <script type="module" src="../assets/js/loadedsketch.js"></script>

</head>

<body>
    <div id="video-container">
        <video controls id="pose-video" class="layer" playsinline></video>
        <canvas id="pose-canvas" class="layer"></canvas>
        <div id="pose-result" class="layer"></div>
    </div>
</body>