<div class="container">


    <div id="webcam-props">


        <div>
            <div class="webcam-container">
                <video controls #webcamFeed class="video-props"></video>
            </div>

        </div>

        <div>
            <div id="action" class="video-props">{{action}}</div>
        </div>
        <div>
            <canvas #Canvas height="{{videoConfiguration.height}}" width="{{videoConfiguration.width}}" class="video-props"></canvas>
        </div>

    </div>

    <div [hidden]='!loadLocalVideo' class="media">
        <video preload="auto" class="slim-padding" height="{{videoConfiguration.height}}" width="{{videoConfiguration.width}}" #mediaTarget controls> 
                <source  src="../../../assets/video/high.mp4">
            </video>

        <div id="action" class="local-video-props">{{localAction}}</div>

        <!-- <div style="width: 560px; height: 315px; float: none; clear: both; margin: 2px auto;">
                <iframe #iframe width="560" height="315" src="https://www.youtube.com/embed/A8gDQ-x1Fko" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div> -->
        <!-- <iframe  src="https://www.youtube.com/embed/AASd5ewKNSw?enablejsapi=1&html5=1" frameborder="0" allowfullscreen></iframe> -->
        <!-- <iframe #iframe controls width="640" height="360" src="https://web.microsoftstream.com/embed/video/c5af2d8e-5443-45ab-9685-0006acf4ba72?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none;"></iframe> -->


    </div>
    <!-- <div>
        <button id="stop" class="stop">
    <fa-icon class="buttons-css" [icon]="['fas', 'stop']"> </fa-icon>
    <label id="span-webcam">Stop Webcam </label>
   </button>
    </div> -->

</div>
<div [hidden]='!loadIframe' class="utubeContainer">
    <app-youtube-player-component #videoYouTube [videoState]="videoState"></app-youtube-player-component>
</div>